<div class="primary-background-color grid-x grid-padding-y grid-padding-x align-center">  
  <div class="small-12 cell show-for-large">
    <ul class="menu align-center">
      <li><a href="/products">Bread + Pastries</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/location">Location + Hours</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/stockists">Stockists</a></li>
      <li><a href="/wholesale">Wholesale</a></li>
      <li><a href="/faqs">FAQs</a></li>
    </ul>
  </div>
</div>

<div class="primary-background-color">
  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">
      <ul class="menu align-center">
      <li><a href="/privacy-policy"><small>© {{ "now"|date("Y") }} {{ company.company }}</small></a></li>
      <li><a href="/privacy-policy"><small>Privacy Policy</small></a></li>
      <li><a href="/terms"><small>Terms and Conditions</small></a></li>
      </ul>
    </div>
  </div>
</div>