<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-center align-middle navigation">

  <div class="small-4 cell show-for-large">
    <ul class="menu align-left">
      <li><a href="/products">Bread + Pastries</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <div class="small-4 cell text-center text-uppercase">
    <a href="/">
      <h2 class="sans-bold font-wide margin-bottom-0">Ambigu</h2>
{#       <div class="small show-for-large">{{site.address}}</div> #}
    </a>
  </div>

  <div class="small-4 cell show-for-large">
    <ul class="menu align-right">
      <li><a href="/location">Location + Hours</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

</header>
<!-- End  Header -->
