data-interchange="
[{{background-image | imgix_url: w: 640, auto: "format", auto: "compress", q: 50, dpr: 2}}, small],
[{{background-image | imgix_url: w: 1024, auto: "format", auto: "compress", q: 40, dpr: 2}}, medium]
[{{background-image | imgix_url: w: 1200, auto: "format", auto: "compress", q: 40, dpr: 2}}, large]
[{{background-image | imgix_url: w: 1440, auto: "format", auto: "compress", q: 40, dpr: 2}}, xlarge]
[{{background-image | imgix_url: w: 1440, auto: "format", auto: "compress", q: 40, dpr: 2}}, xxlarge]"
