<!-- Footer -->
<div class="grid-x align-justify footer">  
  
  <div class="shrink cell">
    
    <div class="grid-x">
    <div class="shrink cell">
    <ul class="vertical menu">
      <li><a href="/work/"><h3>Work</h3></a></li>
      <li><a href="/about/"><h3>About</h3></a></li>
      <li><a href="/team/"><h3>Team</h3></a></li>
    </ul>
    </div>
    <div class="shrink cell">
    <ul class="vertical menu">
      <li><a href="/notes/"><h3>Notes</h3></a></li>
      <li><a href="/contact/"><h3>Contact</h3></a></li>
      <li class="show-for-small-only"><a href="mailto:{{ site.email }}">Email</a></li>
    </ul>
    </div>
    </div>
    
  </div>
  
  <div class="shrink cell align-self-bottom show-for-medium">
    <a href="/"><h3>{{ site.email }}</h3></a>
  </div>
  
</div>
<!-- End Footer -->