<!-- Footer -->
<footer class="grid-x grid-padding-x grid-padding-y align-justify">  
  
  <div class="auto cell">
    <ul class="menu">
      <li class="show-for-medium"><a href="mailto:{{site.email}}"><h5 class="primary-font">{{site.email}}</h5></a></li>
      <li class="show-for-small-only"><a href="mailto:{{site.email}}"><svg class="icon icon-send"><use xlink:href="/assets/icons/symbol-defs.svg#icon-send"></use></svg></a></li>
      <li class="show-for-medium"><a href="/terms-and-conditions/"><h5 class="primary-font">T&C's</h5></a></li>
      <li class="show-for-medium"><a href="/privacy/"><h5 class="primary-font">Privacy</h5></a></li>
      <li class="show-for-medium"><a href="/terms-of-business/"><h5 class="primary-font">Terms of Business</h5></a></li>
    </ul>
  </div>
  
  <div class="shrink cell">
    <ul class="menu align-right">
      {% for item in site.social %}  
      <li><a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-socials icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a></li>
      {% endfor %} 
    </ul>
  </div>
  
</footer>
<!-- End Footer -->