<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify navigation">
  
  <div class="small-6 cell">
    <a href="/"><span class="show-for-sr">Home</span><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>
  
  <div class="small-6 cell text-right">
    <button class="hamburger hamburger--collapse" data-toggler=".is-active" id="toggle" aria-label="menu" type="button" data-toggle="offCanvas toggle">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
  </div>
  
</div>
<!-- End Navigation -->