<!-- Subscribe -->
<div class="grid-container margin-top-2 margin-bottom-2" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center">
      <h4 class="primary-font">Stay in touch</h4>
      <p>Stay in the know about our latest events and specials</p>
      <form action="https://onlyjerkin.us18.list-manage.com/subscribe/post?u=7896ec087dfe430c3bd1fb32a&amp;id=4702a9c6f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div class="input-group">
          <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="signup@email.com">
          <div class="input-group-button"><input type="submit" class="button" value="Submit"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Subscribe -->