<!-- Subscribe -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-11 medium-8 cell text-center">
      <h4>Stay in touch</h4>
      <p>Stay in the know about our latest events and specials</p>
      <form action="//bristolcomedygarden.us8.list-manage.com/subscribe/post?u=4f6c24b1fd6a641ead690d017&id=e6f2914b7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div class="input-group">
          <input class="input-group-field" type="email" name="EMAIL" class="" id="mce-EMAIL" placeholder="signup@email.com">
          <div class="input-group-button"><input type="submit" class="button" value="Submit"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Subscribe -->