<!-- Testimonials -->
<section class="grid-x grid-padding-x grid-padding-y align-center"> 
  <div class="small-12 medium-8 large-6 cell text-center">
    
    <div class="orbit" role="region" aria-label="Testimonials" data-orbit data-next-class="orbit-slide" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <div class="orbit-wrapper">
        <ul class="orbit-container">
          {% assign testimonials-meta = site.pages | where: 'layout', 'story' | first %}
          {% assign testimonials = testimonials-meta.testimonials %}
          {% for testimonial in testimonials %}
            <li class="orbit-slide">
            <blockquote>
              <h3 class="primary-font">"{{ testimonial.text }}"</h3>
              <cite>{{ testimonial.cite }}</cite>
            </blockquote>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  </div> 
</section>
<!-- End Testimonials -->