@font-face {
  font-family: 'Salsbury';
  src: 
  url('../fonts/salsbury-regular.woff2') format('woff2'), 
  url('../fonts/salsbury-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eds Market Bold Slant';
  src: 
  url('../fonts/eds-market-bold-slant.woff2') format('woff2'), 
  url('../fonts/eds-market-bold-slant.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Din Condensed Medium';
  src: 
  url('../fonts/din-pro-cond-medium.woff2') format('woff2'), 
  url('../fonts/din-pro-cond-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Marr Sans';
  src: 
  url('../fonts/marrsans-regular.woff2') format('woff2'), 
  url('../fonts/marrsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}