//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $black;
}

:focus {
  outline: 0;
}

// 3. Plugins
// ----------

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-color;
}

// 4. Color
// --------

.white {
  color: $white;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.home__play {
  @include links ($white, $primary-color)
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $black;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $black;
}

.primary-font {
  font-family: $primary-font-family;
}

.secondary-font {
  font-family: $secondary-font-family;
}


// 6. Navigation
// -------------

.navigation {
  .cell {
	z-index: 14; 
  }
  @include links ($white, $white)
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// 7. Off-canvas
// -------------

.off-canvas {
  @include links ($black, $white)
}

// 8. Layout
// ---------

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 85vh;
  background-color: $light-gray;
}

// 9. Home
// -------

.home .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


// 10. Menu
// --------

.food .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// 11. Find Us
// -----------

.find-us .navigation {
  @include links ($black, $black)
}

.find-us .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

// 12. Story
// --------

.story .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// 13. Hire Us
// -------

.hire-us .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// 14. Contact
// -----------

.contact {
  background-color: $black;
  color: $white;
  @include links ($white, $primary-color)
}

.contact p a {
  border-bottom: 1px solid $white;
}

// 15. Page
// --------

.page .navigation {
  @include links ($black, $primary-color)
}

.page .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

// 16. Footer
// ----------

footer {
  background-color: $primary-color;
  @include links ($white, $black)
}

// 17. Sound
// ---------

.sound {
  background-color: $black;
  color: $white;
  @include links ($white, $primary-color)
}

.sound p a {
  border-bottom: 1px solid $white;
}

// 17. Events
// ---------

.events {
  background-color: $black;
  color: $white;
  @include links ($white, $primary-color)
}

.events p a {
  border-bottom: 1px solid $white;
}

// Extras

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.image {
  @include aspect-ratio (1, 1);
  background-size: cover; 
  background-position: 50%;
}