//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   4. Navigation
//   5. Sections
//   6. Section One
//   7. Section Two
//   8. Section Three
//   9. Section Four
//   10. Projects
//   11. Contact
//   12. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-color;
}


a {
  transition: $primary-transition;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 2. Color
// ---------

.white {
  color: $white;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

// 3. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 2px solid $black;
}

.primary-font {
  font-family: $primary-font-family;
}

.secondary-font {
  font-family: $secondary-font-family;
}

// 3. Navigation
// -------------

.navigation {
  .cell {
	z-index: 14; 
  }
  @include links ($white, $white)
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// 3. Home
// -------

.home .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home__hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.home__video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.home__menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.home__story {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.home__hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

// 3. Food
// -------

.food .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include links ($black, $black)
}

.food .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

// 3. Story
// -------

.story .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// 3. Find Us
// -------

.find-us .navigation {
  @include links ($black, $white)
}

.find-us .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

// 3. Hire Us
// -------

.hire-us .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


// 9. Off-canvas
// ---------

.off-canvas {
  @include links ($black, $white)
}

// 9. Contact
// ---------

.contact {
  background-color: $black;
  color: $white;
  @include links ($white, $primary-color)
}


footer {
  background-color: $primary-color;
  @include links ($white, $black)
}