@font-face {
  font-family: 'Custom';
  src: 
  url('../fonts/custom.woff2') format('woff2'), 
  url('../fonts/custom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lynstone';
  src: 
  url('../fonts/lynstone-regular.woff2') format('woff2'), 
  url('../fonts/lynstone-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walshiem Regular';
  src: 
  url('../fonts/gt-walshiem-regular.woff2') format('woff2'), 
  url('../fonts/gt-walshiem-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graebenbach Regular';
  src: 
  url('../fonts/graebenbach-regular.woff2') format('woff2'), 
  url('../fonts/graebenbach-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louize Display';
  src: 
  url('../fonts/louize-display.woff2') format('woff2'), 
  url('../fonts/louize-display.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marr Sans';
  src: 
  url('../fonts/marr-sans-regular.woff2') format('woff2'), 
  url('../fonts/marr-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cheltenham Std';
  src: 
  url('../fonts/cheltenham-std-book.woff2') format('woff2'), 
  url('../fonts/cheltenham-std-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Mono Regular';
  src: 
  url('../fonts/gt-america-mono-regular.woff2') format('woff2'), 
  url('../fonts/gt-america-mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

