---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap" data-close-on-click="false" data-content-scroll="false">
{% include offcanvas.html %}
</div>
<!-- End Off Canvas Navigation --> 

<div class="off-canvas-content {{page.layout | slugify}}" data-off-canvas-content>
<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Content -->
{{content}}

<!-- End Content -->

{% unless page.layout == "story" or "contact" %}
<!-- Testimonials -->
{% include testimonials.html %}
<!-- End Testimonials -->
{% endunless %}

<!-- Subscribe -->
{% include subscribe.html %}
<!-- End Subscribe -->
<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->

</div>

{% if page.layout == 'home' %}
<script defer src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
<script defer src="/assets/js/min/home-min.js"></script>
{% endif %}

{% if page.layout == 'find-us' %}
<script defer src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
<script defer src="/assets/js/min/find-us-min.js"></script>
{% endif %}

<script src="/assets/js/min/app-min.js"></script>
<script src="/assets/js/min/svgxuse-min.js"></script>
<script src="/assets/js/min/aos-min.js"></script>

</body>

</html>