---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
<!-- Off Canvas Navigation -->
<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap" data-close-on-click="false" data-content-scroll="false">
{% include offcanvas.html %}
</div>
<!-- End Off Canvas Navigation --> 

<div class="off-canvas-content {{page.layout | slugify}}" data-off-canvas-content>
<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Content -->
{{content}}
<!-- End Content -->

{% unless page.layout == "story" or "contact" %}
<!-- Testimonials -->
{% include testimonials.html %}
<!-- End Testimonials-->
{% endunless %}


<!-- Subscribe -->
{% include subscribe.html %}
<!-- End Subscribe-->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->
</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->
</body>

</html>