---
layout: default
---

<!-- Find Us Intro -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-10 cell text-center" data-aos="none">
      {{page.intro-text | markdownify}}
    </div>
  </div>
</section>
<!-- End Find Us Intro -->

<!-- Find Us Locations -->
<section class="grid-container">
  
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell text-center" data-aos="none">
      <h2 class="primary-font">Locations</h2>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y">
    {% for location in page.locations %}
    <div class="small-12 medium-6 cell" data-aos="none">
      <div id="{{ location.map }}" style="width: 100%; height: 20rem" class="margin-bottom-1"></div>
      <div class="text-center medium-text-left">
      <h3 class="primary-font">{{ location.title }}</h3>
      {{ location.description | markdownify }}
      <a href="{{ location.website }}" class="underline" target="_blank">Site</a>
      </div>
    </div>
    {% endfor %}
  </div>
  
  
</section>
<!-- End Find Us Locations -->