---
layout: default
---

<!-- Menu Hero -->
{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Menu Hero -->

<!-- Menu Intro -->
<section class="grid-container margin-top-2 margin-bottom-2" data-aos="none">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-10 cell text-center">
      <h4>{{page.intro-text | markdownify}}</h4>
    </div>
  </div>
</section>
<!-- End Home Intro -->

<!-- Menu Menu Items -->
<section class="grid-container">
  
  <div class="grid-x grid-padding-x grid-padding-y text-center">
    {% for item in page.menu %}
    <div class="small-12 cell" data-aos="none">
      <h3 class="primary-font">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      {% if item.extra %}
      <p><small>{{ item.extra }}</small></p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y" data-aos="none">
    <div class="small-12 cell text-center">
      <a href="{{site.menu-file}}" class="button hollow">Sample Menu <svg class="icon icon-expand_more"><use xlink:href="/assets/icons/symbol-defs.svg#icon-expand_more"></use></svg></a>
    </div>
  </div>
  
</section>

<!-- Menu Intro -->
<section class="grid-container" data-aos="none">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-10 cell text-center">
      {{page.extra-text | markdownify}}
    </div>
  </div>
</section>
<!-- End Home Intro -->
<!-- End Menu Menu Items -->