---
layout: default
---

<!-- Hire Us Hero -->
{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Hire Us Hero -->

<!-- Hire Us Intro -->
<section class="grid-container margin-top-2">
  <div class="grid-x grid-padding-x grid-padding-y align-center" data-aos="none">
    <div class="small-12 medium-10 large-10 cell text-center">
      <h3 class="primary-font">{{page.intro-text}}</h3>
    </div>
  </div>
</section>
<!-- End Hire Us Intro -->

<!-- Hire Us Contact -->
<section class="grid-container">
  <div class="grid-x grid-padding-x align-center" data-aos="none">
    <div class="small-12 medium-10 large-8 cell text-center">
       <h3 class="primary-font"><a href="mailto:hello@onlyjerkin.com">Email Us</a></h3>
       <h3 class="primary-font"><a href="tel:07709844443">+44 (0)7709 844443</a></h3>
    </div>
  </div>
</section>
<!-- End Hire Us Contact -->

<!-- Hire Us Intro -->
<section class="grid-container" data-aos="none">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell text-center">
      {{page.content | markdownify}}
    </div>
  </div>
</section>
<!-- End Hire Us Intro -->


<form name="hire-us" method="POST" netlify-honeypot="bot-field" netlify>
  
  <div class="hide">
  <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </div>
  
  <div class="grid-container" data-aos="none">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-6 cell">
        <label>First Name
          <input type="text" name="First Name">
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Last Name
          <input type="text" name="Last Name">
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Email
          <input type="email" name="Email">
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Phone Number
          <input type="text" name="Phone">
        </label>
      </div>
            <div class="small-12 medium-6 cell">
        <label>Number of People
          <input type="number" value="10" name="Number of People">
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Event Date
          <input type="text" name="Event Date">
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Type of Event
          <select name="Type of Event">
            <option value="festival">Festival</option>
            <option value="wedding">Wedding</option>
            <option value="event">Event</option>
          </select>
        </label>
      </div>
      <div class="small-12 medium-6 cell">
        <label>Location
          <input type="text" name="Location">
        </label>
        <p class="help-text">If not confirmed yet, please just give us a rough idea of the location</p>
      </div>
      <div class="small-12 medium-12 cell">
        <label>Tell Us More
          <textarea rows="12" name="Notes" placeholder="Please let us know if you have any food intolerances or allergies, budget, theme, speicial dietrary needs"></textarea>
        </label>
      </div>
      
      <div class="small-12 medium-12 cell">
      <input type="submit" class="button" value="Send it">
      </div>
      
    </div>
  </div>
</form>

<!-- Hire Us Details -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2 margin-bottom-2  text-center medium-text-left">
    {% for detail in page.details %}
      <div class="small-12 medium-6 cell" data-aos="none">
        <h3 class="primary-font">{{ detail.title }}</h3>
        <p>{{ detail.text | markdownify }}</p>
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Hire Us Details -->

<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2 margin-bottom-2  text-center medium-text-left">
    <div class="small-12 medium-12 cell text-center" data-aos="none">
        <a href="/terms-of-business" class="button hollow">Terms of Business</a>
    </div>
  </div>
</section>