---
layout: default
---

<!-- Menu Hero -->

{% assign image = page.hero-image %}
<section class="hero" data-interchange="{% include images/full/full/interchange-img-small-12-medium-12.html %}">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-10 large-8 xxlarge-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Menu Hero -->

<!-- Click and Collect -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center margin-top-2 margin-bottom-2">
    <div class="small-12 medium-10 large-10 cell text-center">
      <h3 class="primary-font">Covid-19 Update</h3>
      {{page.covid-text | markdownify}}

      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 cell text-center">
         <a href="https://only-jerkin.orderswift.com" class="button hollow expanded">Click + Collect</a>
         Erdington, Kennington, Bethnal Green
        </div>
        <div class="small-12 medium-6 cell text-center">
         <a href="https://deliveroo.co.uk" class="button hollow expanded">Delivery</a>
         Birmingham Th-Su, Bethnal Green M-Su & Kennington M-Su
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Click and Collect -->

<!-- Menu Intro -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center margin-top-2 margin-bottom-2">
    <div class="small-12 medium-10 large-10 cell text-center" data-aos="none">
      <h4>{{page.intro-text}}</h4>
    </div>
  </div>
</section>
<!-- End Menu Intro -->

<!-- Home Video -->
{% assign image = page.video-image %}
<section class="hero" data-interchange="{% include images/full/full/interchange-img-small-12-medium-12.html %}">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-11 medium-8 large-6 cell text-center home__play" id="video">
      <a href="https://vimeo.com/278663397" class="primary-font">
         <div><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></div>
         <h3 class="primary-font">Play Video</h3>
      </a>
    </div>
  </div>
</section>
<!-- End Home Video -->

<!-- Home Details -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2 margin-bottom-2 text-center medium-text-left">
    {% assign detail-items-meta = site.pages | where: 'layout', 'story' | first %}
    {% assign detail-items = detail-items-meta.details %}
    {% for detail in detail-items %}
      <div class="small-12 medium-6 cell" data-aos="none">
        <h3 class="primary-font">{{ detail.title }}</h3>
        <p>{{ detail.text }}</p>
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Home Details -->

<!-- Home Menu Image -->
{% assign image = page.menu-image %}
<section class="hero" data-interchange="{% include images/full/full/interchange-img-small-12-medium-12.html %}"></section>
<!-- End Menu Image -->

<!-- Home Menu Items -->
<section class="grid-container margin-top-2 margin-bottom-2">
  
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 text-center">
    {% assign menu-items-meta = site.pages | where: 'layout', 'food' | first %}
    {% assign menu-items = menu-items-meta.menu %}
    {% for item in menu-items %}
      <div class="cell" data-aos="none">
        <h3 class="primary-font">{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        {% if item.extra %}
        <p><small>{{ item.extra }}</small></p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center" data-aos="none">
      <a href="{{site.menu-file}}" class="button hollow">Sample Menu <svg class="icon icon-expand_more"><use xlink:href="/assets/icons/symbol-defs.svg#icon-expand_more"></use></svg></a>
    </div>
  </div>
  
</section>
<!-- End Home Menu Items -->

<!-- Home Story Image -->
{% assign image = page.story-image %}
<section class="hero" data-interchange="{% include images/full/full/interchange-img-small-12-medium-12.html %}"></section>
<!-- End Story Image -->

<!-- Home Story -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center margin-top-2 margin-bottom-2">
    <div class="small-12 medium-10 large-8 cell text-center" data-aos="none">
    {% assign story-text-meta = site.pages | where: 'layout', 'story' | first %}
    {% assign story-text = story-text-meta.content %}
    <h4 class="margin-bottom-2">{{story-text}}</h4>
    <a href="/story" class="button hollow">Our Story</a>
    </div>
  </div>  
</section>
<!-- End Home Story -->

<!-- Home Map -->
<div id='map' style='width: 100%; height: 80vh;'></div>
<!-- End Home Map -->

<!-- Home Locations -->
<section class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y align-center margin-top-2 margin-bottom-2">
{% assign locations-meta = site.pages | where: 'layout', 'find-us' | first %}
{% assign locations = locations-meta.locations %}
{% for location in locations %}
<div class="small-12 medium-6 cell text-center" data-aos="none">
<h3 class="primary-font">{{ location.title }}</h3>
{{ location.description | markdownify }}
</div>
{% endfor %}
</div>
</section>
<!-- End Home Locations -->

<!-- Home Hire Us -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    
    <div class="small-12 medium-10 large-8 cell text-center">
    {% assign hire-us-meta = site.pages | where: 'layout', 'hire-us' | first %}
    {% assign hire-us-text = hire-us-meta.intro-text %}
    <h3 class="primary-font">Hire Us</h4>
    {{hire-us-text | markdownify}}
    <a href="/hire-us" class="button hollow">Hire Us</a>
    </div>
    
  </div>  
</section>
<!-- End Home Hire US -->