---
layout: default
---

<!-- Story Hero -->
{% assign background-image = page.hero-image %}
<section class="hero" {% include images/feature.html %}>
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10  medium-8 large-6 cell text-center">
      <h1 class="primary-font white" data-aos="none">{{page.hero-text}}</h1>
    </div>
  </div>
</section>
<!-- End Story Hero -->

<!-- Story Intro -->
<section class="grid-container margin-top-2">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-11 large-11 cell text-center" data-aos="none">
      <h3 class="primary-font">{{page.intro-text}}</h3>
    </div>
  </div>
</section>
<!-- End Story Intro -->

<!-- Story Text -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-10 cell text-center" data-aos="none">
      {{page.content | markdownify}}
    </div>
  </div>
</section>
<!-- End Story Text -->

<!-- Story Details -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2 margin-bottom-2 text-center medium-text-left">
    {% for detail in page.details %}
      <div class="small-12 medium-6 cell" data-aos="none">
        <h3 class="primary-font">{{ detail.title }}</h3>
        <p>{{ detail.text }}</p>
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Story Details -->

<!-- Story Testimonials -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 cell text-center">
    {% for testimonial in page.testimonials %}
    <blockquote data-aos="none">
        <h4 class="primary-font">{{ testimonial.text }}</h4>
        <cite>{{ testimonial.cite }}</cite>
    </blockquote>
    {% endfor %}
    </div>
  </div>
</section>
<!-- End Story Testimonials -->